<h1><%= @article.title %></h1>

<p>
  <%= @article.body %>
</p>

<h3>
  Comments
</h3>

<%= form_for [@article, @comment], remote: true do |f| %>
  <%= f.label :user %>
  <%= f.text_field :user, :autofocus => true %><br>
  <%= f.label :body %>
  <%= f.text_area :body %><br>
  <%= f.submit %>
<% end %>

<ul>
  <section id='comments-section'>
    <% @article.comments.reverse.each do |comment| %>
      <%= render comment %>
    <% end %>
  </section
</ul>
